.frd-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    /* background-color: rgb(23, 36, 80); */
}

.frd-box{
    display:flex;
    flex-flow: row wrap;
    max-width: 1000px;
    /* min-width: 1070px; */
    /* width: auto!important; */
    width: 100%;
    /* background-color: rgb(127, 142, 192); */
    /* the height will be adjust with the data; the box will have a scroll bar */
    height: auto;


    
}